---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ template "gardener-extension-acl.extensionName" . }}
  labels:
    {{- include "gardener-extension-acl.extensionLabels" . | nindent 4 }}
rules:
- apiGroups:
  - networking.istio.io
  verbs:
  - get
  - list
  - watch
  - patch
  - update
  resources:
  - envoyfilters
- apiGroups:
  - extensions.gardener.cloud
  resources:
  - clusters
  - dnsrecords
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - extensions.gardener.cloud
  resources:
  - extensions
  - extensions/status
  verbs:
  - get
  - list
  - watch
  - patch
  - update
- apiGroups:
  - resources.gardener.cloud
  resources:
  - managedresources
  verbs:
  - get
  - list
  - create
  - watch
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - get
  - create
  - update
  - patch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterroles
  - clusterrolebindings
  - roles
  - rolebindings
  verbs:
  - get
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - "secrets"
  - "events"
  verbs:
  - get
  - list
  - create
  - watch
  - update
  - patch
  - delete
- apiGroups:
  - "apps"
  resources:
  - "deployments"
  verbs:
  - get
  - create
  - update
  - patch
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  resourceNames:
  - {{ include "leaderelectionid" . }}
  verbs:
  - update
  - get
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ template "gardener-extension-acl.extensionName" . }}
  labels:
    {{- include "gardener-extension-acl.extensionLabels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ template "gardener-extension-acl.extensionName" . }}
subjects:
- kind: ServiceAccount
  name: {{ template "gardener-extension-acl.extensionName" . }}
  namespace: {{ .Release.Namespace }}
