image:
  repository: ghcr.io/stackitcloud/gardener-extension-acl
  tag: latest
imagePullPolicy: IfNotPresent

replicaCount: 2

resources:
  requests:
    cpu: "50m"
    memory: "64Mi"

vpa:
  enabled: true
  resourcePolicy:
    minAllowed:
      cpu: 50m
      memory: 64Mi
  updatePolicy:
    updateMode: "Auto"

controllers:
  concurrentSyncs: 5
  ignoreOperationAnnotation: false
  healthcheck:
    concurrentSyncs: 5

disableControllers: []

additionalAllowedCidrs: []

# imageVectorOverwrite: |
#   images:
#   - name: example
#     sourceRepository: https://schwarzit@dev.azure.com/schwarzit/schwarzit.ske/_git/example-controller
#     repository: reg.infra.ske.eu01.stackit.cloud/ske/example
#     tag: "0.2.9"

gardener:
  version: ""
