global:
  virtualGarden:
    enabled: false
  image:
    repository: ghcr.io/stackitcloud/gardener-extension-admission-acl:latest
    tag: latest
    pullPolicy: IfNotPresent
  replicaCount: 1
  resources: {}
  vpa:
    enabled: true
    resourcePolicy:
      minAllowed:
        cpu: 50m
        memory: 64Mi
    updatePolicy:
      updateMode: "Auto"
  webhookConfig:
    serverPort: 10250
  # Kubeconfig to the target cluster. In-cluster configuration will be used if not specified.
  kubeconfig:
  maxAllowedCIDRs: 50
  serviceAccountTokenVolumeProjection:
    enabled: false
    expirationSeconds: 43200
    audience: ""
  service:
    topologyAwareRouting:
      enabled: false
