---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}-webhook
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app: {{ .Chart.Name }}-webhook
  replicas: 1
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}-webhook
    spec:
      serviceAccountName: {{ .Chart.Name }}
      containers:
      - name: {{ .Chart.Name }}-webhook
        image: {{ .Values.webhookController.image }}:{{ .Values.webhookController.tag }}
        imagePullPolicy: {{ .Values.webhookController.pullPolicy }}
        volumeMounts:
        - name: tls
          mountPath: "/tmp/k8s-webhook-server/serving-certs"
          readOnly: true
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
      terminationGracePeriodSeconds: 10
      volumes:
        - name: tls
          secret:
            secretName: {{ .Chart.Name }}-tls
            optional: false

