{{- $dnsName := printf "%s.%s.svc" (include "gardener-extension.webhookName" .) .Release.Namespace -}}
{{- $ca := genCA (printf "%s-ca" $dnsName) 3650 -}}
{{- $cert := genSignedCert $dnsName nil (list $dnsName) 3650 $ca -}}
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: {{ template "gardener-extension.fullname" . }}
  labels:
    {{- include "gardener-extension.webhookLabels" . | nindent 4 }}
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      namespace: {{ .Release.Namespace }}
      name: {{ template "gardener-extension.webhookName" . }}
      port: 9443
      path: "/mutate"
    caBundle: {{ b64enc $ca.Cert}}
  failurePolicy: Fail
  name: acl.stackit.cloud
  rules:
  - apiGroups:
    - "networking.istio.io"
    apiVersions:
    - v1alpha3
    operations:
    - CREATE
    - UPDATE
    resources:
    - envoyfilters
  sideEffects: None
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "gardener-extension.webhookName" . }}-tls
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "gardener-extension.webhookLabels" . | nindent 4 }}
type: kubernetes.io/tls
data:
  tls.crt: {{ b64enc $cert.Cert }}
  tls.key: {{ b64enc $cert.Key }}


