name: artifacts

on:
  push:
    tags:
    - "v*"
    branches:
    - "*"
    paths-ignore:
    - "**.md"

jobs:
  artifacts:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/setup-go@v6
      with:
        go-version: 1.26.0
    - run: make artifacts PUSH=true
